<div class="input">
  <mat-form-field
    appearance="outline"
    class="input__wrapper"
    [hideRequiredMarker]="'*'"
  >
    <mat-label> {{ placeholder }} </mat-label>
    <input
      matInput
      [formControl]="formControl"
      [placeholder]="placeholder"
      [type]="getInputType()"
    />
    <button
      *ngIf="isPasswordType()"
      mat-icon-button
      matSuffix
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="'Hide Password'"
      [attr.aria-pressed]="isPasswordVisible"
    >
      <mat-icon
        [ngClass]="{
          input__icon_show: isPasswordVisible
        }"
        >visibility</mat-icon
      >
    </button>
  </mat-form-field>
</div>
