<div class="sign-up-form__wrapper">
  <h1 class="sign-up-form__title">Sign Up</h1>
  <form class="sign-up-form" [formGroup]="signUpForm" (submit)="onSignUp()">
    <section class="form__field">
      <section class="form_common">
        <tx-form-input>
          <input
            matInput
            type="email"
            placeholder="Email"
            formControlName="email"
            autocomplete="on"
          />
        </tx-form-input>
        <tx-form-input>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            autocomplete="on"
          />
        </tx-form-input>
        <tx-form-input>
          <input
            matInput
            type="password"
            placeholder="Confirm password"
            formControlName="confirmPassword"
            autocomplete="on"
          />
        </tx-form-input>
        <tx-form-input>
          <input
            matInput
            placeholder="FirstName"
            formControlName="firstName"
            autocomplete="on"
          />
        </tx-form-input>
        <tx-form-input>
          <input
            matInput
            placeholder="LastName"
            formControlName="lastName"
            autocomplete="on"
          />
        </tx-form-input>
        <tx-form-select
          placeholder="Role"
          formControlName="role"
          [selectItems]="selectRoles"
        ></tx-form-select>
      </section>

      <section *ngIf="showCarForm()" class="form_driver-only">
        <form [formGroup]="carForm">
          <h1 class="form_driver-only__title">Car</h1>
          <tx-form-input>
            <input matInput placeholder="Make" formControlName="make" />
          </tx-form-input>
          <tx-form-input>
            <input matInput placeholder="Model" formControlName="model" />
          </tx-form-input>
          <tx-form-input>
            <input matInput placeholder="Year" formControlName="year" />
          </tx-form-input>
          <tx-form-select
            placeholder="Color"
            formControlName="color"
            [selectItems]="selectColors"
          ></tx-form-select>
        </form>
      </section>
    </section>

    <section class="sign-up-form__button">
      <tx-form-button
        type="submit"
        text="REGISTER"
        [disabled]="!signUpForm.valid"
      ></tx-form-button>
    </section>
  </form>
</div>
