.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-top: 80px;

  .form__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    color: white;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 24px 50px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;

    .form__fields {
      display: flex;
      gap: 63px;

      :nth-child(n) {
        width: 400px;
      }
    }
  }

  .form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    :first-child {
      width: 400px;
    }
  }
}
