<div class="page-wrapper">
  <header class="page-wrapper__header">
    <div class="page-wrapper__functionality-block" [ngClass]="{ 'functionality-block_logged-out': !isLoggedIn }">
      <tx-dropdown-menu [items]="languageList"></tx-dropdown-menu>
      <a *ngIf="isLoggedIn" class="page-wrapper__sign-in-link" href="#">Log Out</a>
    </div>
    <h1 *ngIf="isLoggedIn" class="page-wrapper__title">GeneralSoft Taxi</h1>
  </header>
  <section class="page-wrapper__content">
    <ng-content></ng-content>
  </section>
</div>
