@use "./../../scss/colors.scss" as colors;

.page-wrapper {
  background: linear-gradient(
      89.85deg,
      black -4.81%,
      rgba(84, 55, 55, 0) 102.4%
    ),
    url(./../../../../assets/picture.jfif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  .page-wrapper__header {
    font-family: "Rasa";
    font-size: 28px;

    .page-wrapper__functionality-block {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: colors.$text-light;
      gap: 58px;
      padding-right: 50px;
      height: 52px;
      background-color: colors.$brown-background;

      .page-wrapper__sign-in-link {
        text-decoration: none;
        color: colors.$text-light;
      }
    }
    .page-wrapper__title {
      background: colors.$deep-brown-background;
      opacity: 0.9;
      font-family: "Rubik", sans-serif;
      font-size: 90px;
      line-height: 107px;
      color: colors.$primary;
      padding-left: 170px;
      margin: 0;
    }
  }

  .page-wrapper__functionality-block.functionality-block_logged-out {
    background-color: transparent !important;
    padding-right: 174px !important;
  }

  .page-wrapper__content {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;

    //TODO: make height more flexible later
    height: calc(100% - 159px);
    //TODO: temporary for better demo
    padding-top: 30px;
  }
}
