.page-wrapper {
  background: linear-gradient(89.85deg, #000000 -4.81%, rgba(84, 55, 55, 0) 102.4%),
              url(./../../../../assets/picture.jfif) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
