$primary: #C4A267;
$accent: #00A1E5;
$accent-light: #C7F1FF;
$warn: #FC004C;
$warn-light: #CE6A5D;
$black: #000000;
$white: #ffffff;
$placeholder: #6A6A6A;
$text-light: #FEFEFE;
$deep-brown-background: #241D1E;
$brown-background: #3C3234E5;
$dropdown-menu-background: #3e3436;
