@use "variables" as v;

:host::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
  }
  .mat-form-field {
    font-size: 27px;
  }
  .mat-form-field-label {
    color: #6a6a6a;
    font-size: 27px;

    :focus {
      color: transparent;
    }
  }

  .mat-icon {
    width: 40px;
  }

  .mat-form-field-appearance-outline .mat-form-field-label {
    margin-top: -0.6em;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: v.$accent;
  }
  .mat-form-field-appearance-outline:hover .mat-form-field-outline {
    color: v.$accent;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
    color: v.$accent;
  }
  .mat-form-field:hover .mat-form-field-label {
    color: v.$accent;
  }
  .mat-input-element {
    padding: 1px;
    caret-color: black;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 11px 0 24px;
  }

  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.4em;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
  .mat-form-field-appearance-outline.mat-form-field-can-float
  .mat-input-server:focus + .mat-form-field-label-wrapper
  .mat-form-field-label {
    transform: translateY(-1.3em) scale(0.75);
  }
}
