@use "variables" as v;

:host::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
  }
  .mat-form-field-label {
    color: #6a6a6a;
    font-size: 15px;

    :focus {
      color: transparent;
    }
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: v.$accent;
  }
  .mat-form-field-appearance-outline:hover .mat-form-field-outline {
    color: v.$accent;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
    color: v.$accent;
  }
  .mat-form-field:hover .mat-form-field-label {
    color: v.$accent;
  }
  .mat-input-element {
    padding: 1px;
    caret-color: black;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-bottom: 1.2em;
  }
}
