@use "./../colors.scss" as colors;

.mat-checkbox-inner-container {
  margin-right: 11px !important;
  width: 33px !important;
  height: 33px !important;
}

.mat-checkbox-layout {
  align-items: center;
}

.mat-checkbox-layout .mat-checkbox-label {
  font-size: 25px;
  line-height: 29px;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #00a1e500;
}

.mat-checkbox-frame {
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
}

.mat-checkbox-checkmark {
  width: 78%;
  left: 3px;
  top: 2px;
}

.mat-checkbox-checkmark-path {
  stroke: black !important;
}
