$main-active-color: #00a1e5;

:host .mat-select ::ng-deep .mat-select-arrow {
  transform: rotate(0deg);
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  transform: rotate(180deg);
}

:host::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
  }

  .mat-form-field-label {
    color: #6a6a6a;
    font-size: 15px;
  }

  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #6a6a6a;
  }

  .mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
    color: #6a6a6a;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: $main-active-color;
  }
  .mat-form-field-appearance-outline:hover .mat-form-field-outline {
    color: $main-active-color;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $main-active-color;
  }
  .mat-form-field:hover .mat-form-field-label {
    color: $main-active-color;
  }
  .mat-input-element {
    padding: 1px;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-bottom: 1.2em;
  }
}
