<form
  class="reset-password-form"
  name="resetPasswordForm"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="sendLinkToEmail()"
>
  <p class="reset-password-form__text">
    We need to know your email to send the link to reset you password.
  </p>
  <section class="reset-password-form__controls">
    <tx-form-input>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </tx-form-input>
    <tx-form-button
      class="reset-password-form__button"
      type="submit"
      text="SEND"
      [disabled]=!resetPasswordForm.valid
    ></tx-form-button>
  </section>
  <button routerLink="/" class="reset-password-form__close-button" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</form>
