<tx-page-wrapper>
  <form class="form" name="signInForm" [formGroup]="demonstrationForm" (ngSubmit)="onSignIn() ">
    <tx-form-input>
      <input matInput type="email" placeholder="Email" formControlName="email">
    </tx-form-input>
    <tx-form-input>
      <input matInput type="password" placeholder="Password" formControlName="password">
    </tx-form-input>
    <tx-form-input>
      <input matInput placeholder="FirstName" formControlName="name">
    </tx-form-input>
  
    <tx-role-select placeholder="Role" formControlName="role"></tx-role-select>
  
    <mat-checkbox formControlName="isLoggedIn" (change)="onChangeEvent($event)">Keep me logged in</mat-checkbox>
  
    <tx-form-button type="submit" text="BUTTON" [disabled]=!demonstrationForm.valid></tx-form-button>
  </form>
  <tx-dropdown-menu [items]="itemsPerPagesList"></tx-dropdown-menu>
  
  <div class="button-demo">
    <tx-button text="Order" color="primary" size="large" [disabled]=false openConfirmationPopup></tx-button>
    <tx-button style="z-index: 1" text="Spinner" color="action" size="large" [disabled]=false (click)="toggleSpinnerMode()"></tx-button>
    <tx-button text="Accept" color="accept" size="small" [disabled]=false></tx-button>
    <tx-button text="Cancel" color="cancel" size="small" [disabled]=false></tx-button>
    <tx-button text="Ok" color="accept" size="pop-up-small" [disabled]=false></tx-button>
    <tx-button text="Ok" color="accept" size="pop-up-small" [disabled]=true></tx-button>
    <tx-button text="Block Until" color="cancel" size="pop-up-large" [disabled]=false></tx-button>
  </div>

  <div class="notification-demo">
    <tx-button text="Success" color="accept" size="small" [disabled]=false (click)="showSuccessNotification()"></tx-button>
    <tx-button text="Warn" color="primary" size="small" [disabled]=false (click)="showWarnNotification()"></tx-button>
    <tx-button text="Error" color="cancel" size="small" [disabled]=false (click)="showErrorNotification()"></tx-button>
  </div>
  <tx-notification-list></tx-notification-list>

  <tx-spinner [isLoading]="(isLoading|async)!"></tx-spinner>
</tx-page-wrapper>



