@use "./shared/scss/colors.scss" as colors;

.form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 500px;
  height: fit-content;
  gap: 20px;
  background-color: white;

  //TODO: temporary for dropdown demo
  margin-right: 40px; 
}

.button-demo,
.notification-demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
