<form class="form" name="signInForm" [formGroup]="demonstrationForm" (ngSubmit)="onSignIn()">
  <tx-form-input>
    <input matInput type="email" placeholder="Email" formControlName="email">
  </tx-form-input>
  <tx-form-input>
    <input matInput type="password" placeholder="Password" formControlName="password">
  </tx-form-input>
  <tx-form-input>
    <input matInput placeholder="FirstName" formControlName="name">
  </tx-form-input>

  <tx-form-select placeholder="Role" formControlName="role" [items]="selectItems"></tx-form-select>
  <tx-form-checkbox text="Keep me logged in" formControlName="isLoggedIn"></tx-form-checkbox>

  <tx-form-button type="submit" text="BUTTON" [disabled]=!isFormValid()></tx-form-button>
</form>


<!-- <button mat-raised-button type="submit" color="accent" [disabled]="isFormInvalid()">BUTTON</button> -->
<!-- [formControl]="$any(demonstrationForm.controls)['email']" -->
