<div class="form__wrapper">
  <h1 class="form__title">Sign In</h1>
  <form class="form" [formGroup]="signInForm" (submit)="onSignIn()">
    <section class="form__input-fields">
      <tx-form-input>
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
          autocomplete="on"
        />
      </tx-form-input>
      <tx-form-input>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          autocomplete="on"
        />
      </tx-form-input>
    </section>
    <mat-checkbox class="form__checkbox" formControlName="isLoggedIn"
      >Keep me logged in</mat-checkbox
    >
    <tx-form-button
      class="form__button"
      type="submit"
      text="LOGIN"
      [disabled]="!signInForm.valid"
    ></tx-form-button>
    <section class="form__links">
      <a
        routerLink=""
        class="form__link"
        (click)="isForgotPasswordFormVisible = true"
        >Forgot password?</a
      >
      <a routerLink="/sign-up" class="form__link">I don’t have an account</a>
    </section>
  </form>
  <tx-reset-password-form
    *ngIf="isForgotPasswordFormVisible"
    (isForgotPasswordFormVisible)="isForgotPasswordFormVisible = $event"
    [@resetFormShow]="animationState"
  ></tx-reset-password-form>
</div>
