.form__wrapper {
  margin-top: 142px;

  .form {
    padding: 50px;
    width: 500px;

    .form__input-fields {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-bottom: 11px;
    }

    .form__checkbox {
      margin-bottom: 25px;
    }

    .form__button {
      margin-bottom: 36px;
    }

    .form__links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 27px;

      .form__link {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: black;
      }
    }
  }
}
