@use "./../../../../shared/scss/colors.scss" as colors;

.home__wrapper {
  position: absolute;
  left: 0;
  right: 0;

  .home__title {
    display: flex;
    margin: 40px 36px 40px 218px;

    :nth-child(n) {
      font-family: "Rasa";
      font-style: normal;
      font-size: 96px;
      font-weight: 300;
      line-height: 117px;
      color: white;
      flex: 1;
    }

    :last-child {
      text-align: right;
    }
  }

  .home__line-divider {
    border-bottom: 5px solid colors.$primary;
    margin-left: 158px;
    width: 200px;
  }

  .home__text {
    font-family: "Rasa";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: white;
    margin: 45px auto 64px 210px;
  }

  .home__characteristics-list {
    font-family: "Rasa";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: colors.$primary;
    display: flex;
    gap: 30px;
    margin-left: 179px;
    margin-bottom: 60px;

    :first-child {
      list-style-type: none;
    }

    :nth-child(n) {
      margin-right: 30px;
    }
  }

  .home__buttons {
    margin-left: 391px;
    display: flex;
    gap: 62px;
  }
}
