<form [formGroup]="carForm" class="car-form">
  <h1 class="car-form__title">Car</h1>
  <tx-form-input>
    <input matInput placeholder="Make" formControlName="make" />
  </tx-form-input>
  <tx-form-input>
    <input matInput placeholder="Model" formControlName="model" />
  </tx-form-input>
  <tx-form-input>
    <input matInput placeholder="Year" formControlName="year" numericInput />
  </tx-form-input>
  <tx-form-select
    placeholder="Color"
    formControlName="color"
    [selectItems]="selectColors"
  ></tx-form-select>
</form>
