<div *ngIf="notification.isShowUp"
    class="notification__wrapper"
    [ngClass]="{
        'notification__wrapper_success': notification.type === 'success',
        'notification__wrapper_warn'   : notification.type === 'warn',
        'notification__wrapper_error'  : notification.type === 'error'
    }">
  <p class="notification__text">{{ notification.message }}</p>
  <button class="notification__button" mat-icon-button (click)="closeNotification()">
    <mat-icon>close</mat-icon>
  </button>
</div>
