@use "./../../scss/colors.scss" as colors;

.notification__wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 74px;
  bottom: 46px;
  right: 60px;
  border-radius: 10px;
  color: white;

  &_success {
    background-color: colors.$success-message;
  }
  &_warn {
    background-color: colors.$warning-message;
  }
  &_error {
    background-color: colors.$error-message;
  }

  .notification__text {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    margin-left: 35px;
  }

  .notification__button {
    margin-right: 18px;
  }
}
