@use "./../../scss/colors.scss" as colors;

.mat-raised-button {
  width: 100%;
  padding: 21px 0 !important;
  font-weight: 400;
  font-size: 38px;
  border-radius: 8px;
}

.mat-raised-button.mat-button-disabled.mat-button-disabled {
  color: white;
}
