.base-popup__close-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

:host::ng-deep {
  .material-icons {
    font-size: 35px;
  }
  .mat-icon {
    width: 35px;
  }
  .mat-dialog-content {
    position: relative;
    margin: 0;
    padding: 0;
  }
}
