@import "material-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type="password"]::placeholder {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.custom-select {
  min-width: 370px !important;
  //top: 420px !important;
  left: 65px !important;
  transform: translateX(-16px) translateY(20px) !important;

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: black;
  }

  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: none;
  }

  .mat-option.mat-active {
    background: none;
  }

  .mat-option:hover {
    background-color: #c7f1ff;
  }
}

@font-face {
  font-family: "fontello";
  src: url("./assets/fontello-89600d75/font/fontawesome.eot?0000");
  src: url("./assets/fontello-89600d75/font/fontawesome.eot?0000#iefix")
      format("embedded-opentype"),
    url("./assets/fontello-89600d75/font/fontawesome.woff2?0000")
      format("woff2"),
    url("./assets/fontello-89600d75/font/fontawesome.woff?0000") format("woff"),
    url("./assets/fontello-89600d75/font/fontawesome.ttf?0000")
      format("truetype"),
    url("./assets/fontello-89600d75/font/fontawesome.svg?0000#fontello")
      format("svg");
}

input[type="password"] {
  font-family: "fontello";
  font-size: 8px;
  line-height: 14px;
}
