<div
  [ngClass]="{
    'button__wrapper_small': size === 'small',
    'button__wrapper_large': size === 'large',
    'button__wrapper_pop-up-small': size === 'pop-up-small',
    'button__wrapper_pop-up-large': size === 'pop-up-large'
  }"
>
  <button
    mat-raised-button
    [ngClass]="{
      'button_primary': color === 'primary',
      'button_action': color === 'action',
      'button_accept': color === 'accept',
      'button_cancel': color === 'cancel'
    }"
    [disabled]="disabled"
  >
    {{ text }}
  </button>
</div>
