<div 
    class="notification-list__item notification-item"
    [ngClass]="{
      'notification-item_success': notification.type === 'success',
      'notification-item_warn': notification.type === 'warn',
      'notification-item_error': notification.type === 'error'
    }"
  >
    <p class="notification-item__text">{{ notification.message }}</p>
    <button mat-icon-button class="notification-item__button" (click)="closeNotification(notification.id)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
