.spinner__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

:host::ng-deep {
  .mat-progress-spinner {
    height: 269px !important;
    width: 269px !important;
  }

  .mat-progress-spinner svg {
    height: 100% !important;
    width: 100% !important;
  }
}
